.encabezado{
	width:990px;
	margin: 0px auto;
	}
.menu_admin{
	display:inline-block;
	width:727px;
	height:40px;
	vertical-align:middle;
	background-color:#72AA37;
	padding-top:14px;
	margin-top:20px;
	z-index:100;
	position:absolute;
	}
.el_menu{
	margin-left:10px;}
.el_menu li{
 float:left;
	margin-right:10px;
	padding-top:10px;
	text-decoration:none;
	list-style:none;
	color:#FFF;
	font-size:18px;
	font-family:"miFuente";
	border-right:2px inset #FFF;
	padding-right:5px;
	}
.el_menu li:hover{
	padding:10px;
	background-color:#762EA4;
	cursor:hand;}
	
	
.el_menu li ul li {
	margin-left:10px;
	display:none;
     border: none;!important
	 
	}
.el_menu li ul {
	display:block;
	padding-left:none;
	-webkit-padding-start:2px;
	text-align: left;
	}

.el_menu li ul li a {
	color:#FFFFFF;
	text-decoration:none;
	}
.el_menu li ul li a:hover {
	color:#FFF;
	font-size:16px;

	}

.el_menu li:hover > ul li {
	height:25px;
	font-size:14px;
    display:block;
    padding: 0;
	list-style:none;
	float:none;

	color:#FFF;
  }
.el_menu li:hover >  li a {
	background-color:#300;
  }	
 .contenedor_central{
	 width:990px;
	 margin: 0px auto;
	 margin-top:10px;
	
	 }
.titulo_seccion {
   font-size:60px;
	margin: 0 auto; 
	width: 990px;
	max-width:990px;
	font-family:"titulos";
	color:#7EA715;
	margin-top: 10px;
    height: 60px;
    line-height: 1em;
}
.subtitulo {
    font-size:40px;
	margin: 0 auto; 
	width: 990px;
	max-width:990px;
	font-family:"titulos";
	color:#7EA715;
	margin-top: 10px;
    height: 40px;
    line-height: 1em;
}

.contenedor_indicador{
	width:317px;
	height:225px;
	display:inline-block;
	margin-top:20px;
	}
.contadores{
	margin-top:-40px;
	float:right;
	margin-right:10px;
	background-color:#FFFFFF;
	border-radius:5px;
	position: relative;
	padding:5px;
	font-weight:bold;}
.contadores_mini{
	margin-right:10px;
	background-color:#FFFFFF;
	border-radius:5px;
	position: relative;
	padding:5px;
	font-weight:bold;}
.contenedor_buscador{
	padding:5px;
	width:100%;
	margin:0px auto;
	height:32px;
	background-color:#762EA4;
	margin-bottom:15px;
	text-align: left;
	color:#FFFFFF;
	}
.fondo_select{
	height:28px;
	margin-top:-5px;
	width:160px;
	background-image:url(../images/select.png);
	background-repeat:no-repeat;
	float:left;
	margin-left:25px;
	padding-top:5px;
	}
	
.fondo_select_dos{
    height:28px;
	margin-top:-5px;
	width:160px;
	background-image:url(../images/select.png);
	background-repeat:no-repeat;
	display:inline-block;
	margin-left:25px;
	padding-top:5px;;
	}
	
.estilo_select{
    background: transparent;
	-webkit-appearance: none;
	height:32px;
	width:150px;
	border:none;
	border-radius: 10px;
    font-family:"select";
	font-size:20px;
	color:#FFFFFF;
	padding-left:5px;
	outline: none;
	line-height:1em;
	}
.tabla_carrito th{
	height:38px;
	background-color:#D0E6CF;
	font-size:15px;
	border-right-color: #FFF;;
	border-right-width: 1px;
	border-right-style: solid;
	vertical-align:middle;
	}
.tabla_carrito td{
	height:71px;
	font-size:14px;
	border-bottom-color: #D0E6CF;;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	vertical-align:middle;
	padding-left:5px;
	text-align:center;
	}
.contenedor_modificaciones{
   position: absolute;
   top: 0;
   left: 0;
   z-index: 150;
   width: 100%;
   height: 1600px;
   background-image:url(../images/fondotabla.png);
	}
.modificaciones{
	width:607px;
	background-color:#762EA4;
	color:#FFF;
	margin:0px auto;
	}
.cerrar_modificaciones{
	width:607px;
	color:#FFF;
	margin:0px auto;
	text-align:right;
	}
.titulo_modificaciones{
	width:607px;
	height:80px;
	font-size:50px;
	color:#FFFFFF;
	text-align:center;
	font-family:'titulos';
	}
.contenido_intruciones{
	width:550px;
	margin: 0px auto;
	
}
.secciones{
	padding:5px;
	width:100%;
	margin:0px auto;
	height:32px;
	background-color:#E6E7E8;
	margin-bottom:15px;
	text-align: left;
	color:#000;
	}
.color_morado{
	color:#6A2C91;
	font-weight:bold;}
.color_verde{
	color:#72A937;
	font-weight:bold;}
	
/*publicacion de anuncio*/

.contenedor_anuncio_detalle{
   position: absolute;
   top: 0;
   left: 0;
   z-index: 150;
   width: 100%;
   height: 1600px;
   background-image:url(../images/fondotabla.png);}
   
.contenedor_cerrar_anuncio{
	width:667px;
	height:66px;
	margin:0px auto;
	text-align:right;
	}
.leer_anuncio{
	width:657px;
	min-height:660px;
	border: 5px solid #57B6B4;
	background-color:#FFF;
	margin:0 auto;
	margin-top:5px;
	padding:10px;
    }
.contenedor_galeria{
	width:394px;
	height:243px;
	display:inline-block;
	}
#nav_anuncio { 
float:right; 
height:205px; 
overflow: scroll; 
overflow-x: hidden;
width:95px;
}
#nav_anuncio li { 
width: 50px;
margin: 8px; 
list-style: none 
}
#nav_anuncio a { 
width: 61px; 
padding: 3px; 
display: block; 
border: 1px solid #ccc; 
}
#nav_anuncio li.activeSlide a { 
background: #57B6B4; 
}
#nav_anuncio a:focus { 
outline: none; 
}
#nav_anuncio img { 
border: none;
 display: block;
  }
 .datos_general{
	width:249px;
	height:243px;
	display:inline-block;
	margin-left:10px;
	font-size:13px;
	}
.titulo_anuncio_publicado{
	width:245px;
	max-height:45px;
	font-family:"titulos";
	font-size:19px;
	color:#FF7C00;
	margin-left:5px;
	line-height:1em;
	}
.boton_naranja li{
	padding-left:5px;
	padding-right:5px;
	padding:5px;
	height:13px;
	background-color:#FF7C00;
	text-align:center;
	width:143px;
	color:#FFF;
	box-shadow: 2px 2px 7px #999;
	list-style:none;
	margin-left:45px;
	font-size:11px;
	}
	
.boton_naranja li:hover{
	width:143px;
	padding:5px;
	height:13px;
	background-color:#FFF;
	text-align:center;
	color:#FF7C00;
	box-shadow: 2px 2px 7px #999;
	list-style:none;
	cursor:pointer;
	}
.boton_gris li{
	padding-left:5px;
	padding-right:5px;
	padding:5px;
	height:13px;
	background-color:#B1B3B4;
	text-align:center;
	width:143px;
	color:#3E3D40;
	box-shadow: 2px 2px 7px #999;
	list-style:none;
	margin-left:45px;
	font-size:11px;
	}
	
.boton_gris li:hover{
	width:143px;
	padding:5px;
	height:13px;
	background-color:#3E3D40;
	text-align:center;
	color:#B1B3B4;
	box-shadow: 2px 2px 7px #999;
	list-style:none;
	cursor:pointer;
	}
.contenedor_del_detalle{
	width:655px;
	min-height:376px;
	}
.descripcion_del_anuncio{
	width:632px;
	font-size:13px;
	}
.boton_naranja_dos li{
	padding-left:5px;
	padding-right:5px;
	padding:5px;
	height:13px;
	background-color:#FF7C00;
	text-align:center;
	width:100px;
	color:#FFF;
	box-shadow: 2px 2px 7px #999;
	list-style:none;
	font-size:11px;
	margin-top:10px;
	margin-bottom::10px;
	}
	
.boton_naranja_dos li:hover{
	width:100px;
	padding:5px;
	height:13px;
	background-color:#FFF;
	text-align:center;
	color:#FF7C00;
	box-shadow: 2px 2px 7px #999;
	list-style:none;
	cursor:pointer;
	margin-top:10px;
	margin-bottom::10px;
	}
.boton_rojo_dos li{
	padding-left:5px;
	padding-right:5px;
	padding:5px;
	height:13px;
	background-color:#E2001A;
	text-align:center;
	width:120px;
	color:#FFF;
	box-shadow: 2px 2px 7px #999;
	list-style:none;
	font-size:11px;
	margin-top:10px;
	margin-bottom::10px;
	}
	
.boton_rojo_dos li:hover{
	width:120px;
	padding:5px;
	height:13px;
	background-color:#FFF;
	text-align:center;
	color:#E2001A;
	box-shadow: 2px 2px 7px #999;
	list-style:none;
	cursor:pointer;
	margin-top:10px;
	margin-bottom::10px;
	}
.consejos_advertencias{
	width:648px;
	height:241px;
	padding:5px;
	background-color:#ECEDED;
	font-size:12px;
	margin-top:10px;
	}
.validar_anuncio{
	width:670px;
	margin:0px auto;
	background-color:#F1F1F2;
	padding:10px;}
	
.boton_azul{
	display:inline-block;
	}
.boton_azul li{
	padding-left:5px;
	padding-right:5px;
	padding:5px;
	height:13px;
	background-color:#57B6B4;
	text-align:center;
	width:120px;
	color:#FFF;
	box-shadow: 2px 2px 7px #999;
	list-style:none;
	font-size:11px;
	margin-bottom::10px;
	
	}

.boton_azul li:hover{
	background-color:#FFF;
	color:#57B6B4;
	cursor:pointer;

	}
.texto_inputs{
	margin-top:15px;
	width:150px;
	display: inline-block;
	font-size:18px;
	margin-left:15px;
	
	}
.contendeor_inputs{
	width:150px;
	text-align:left;
	display: inline-block;
	margin-top:15px;}